magic_hub_automation_workflow_FIXED.json
{
  "name": "Magic Hub Salon - Automation FIXED",
  "nodes": [
    {
      "parameters": {
        "path": "magic-hub-booking",
        "options": {}
      },
      "id": "webhook-booking",
      "name": "Webhook Booking",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "action_type",
              "value": "booking_confirmation"
            }
          ]
        }
      },
      "id": "set-action",
      "name": "Set Action",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [400, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equal",
              "value2": "new"
            }
          ]
        }
      },
      "id": "filter-new",
      "name": "Filter New",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [600, 300]
    },
    {
      "parameters": {
        "url": "https://waba.360dialog.io/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "D360-API-KEY",
              "value": "YOUR_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "{\n  \"to\": \"{{ $json.phone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"Salut {{ $json.firstname }}! Confirmi rezervarea?\"\n  }\n}"
      },
      "id": "send-whatsapp",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [800, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "YOUR_SHEET_ID",
        "sheetName": "Logs",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.firstname }}",
            "phone": "={{ $json.phone }}",
            "status": "={{ $json.status }}",
            "timestamp": "={{ $now }}"
          }
        }
      },
      "id": "log-data",
      "name": "Log Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Webhook Booking": {
      "main": [
        [
          {
            "node": "Set Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Action": {
      "main": [
        [
          {
            "node": "Filter New",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter New": {
      "main": [
        [
          {
            "node": "Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp": {
      "main": [
        [
          {
            "node": "Log Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1.0.0"
} 