magic-hub-n8n-import.json
{
  "meta": {
    "instanceId": "magic-hub-automation-v1",
    "exportVersion": "1.0.0"
  },
  "workflows": [
    {
      "id": "1",
      "name": "Magic Hub - Booking Confirmation FIXED",
      "active": false,
      "createdAt": "2024-01-15T00:00:00.000Z",
      "updatedAt": "2024-01-15T00:00:00.000Z",
      "tags": [],
      "nodes": [
        {
          "parameters": {
            "path": "magic-hub-booking-upload",
            "responseMode": "responseNode",
            "options": {}
          },
          "id": "webhook-booking",
          "name": "Webhook Booking Upload",
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 1,
          "position": [180, 300]
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict"
              },
              "conditions": [
                {
                  "leftValue": "={{ $json.firstname }}",
                  "rightValue": "",
                  "operator": {
                    "type": "string",
                    "operation": "isNotEmpty"
                  }
                },
                {
                  "leftValue": "={{ $json.phone }}",
                  "rightValue": "",
                  "operator": {
                    "type": "string",
                    "operation": "isNotEmpty"
                  }
                }
              ],
              "combinator": "and"
            }
          },
          "id": "input-validator",
          "name": "Input Validator",
          "type": "n8n-nodes-base.if",
          "typeVersion": 1,
          "position": [350, 300]
        },
        {
          "parameters": {
            "url": "https://waba.360dialog.io/v1/messages",
            "authentication": "none",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "D360-API-KEY",
                  "value": "YOUR_360DIALOG_API_KEY"
                },
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            },
            "sendBody": true,
            "contentType": "json",
            "body": "={\n  \"to\": \"{{ $json.phone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"Salut {{ $json.firstname }}! Ai rezervare la Magic Hub {{ $json.location }} pe {{ $json.date }} la {{ $json.time }}. Confirmi cu 1️⃣ Da / 2️⃣ Reprogramez?\"\n  }\n}",
            "options": {}
          },
          "id": "whatsapp-message",
          "name": "WhatsApp Message FIXED",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4,
          "position": [520, 200]
        },
        {
          "parameters": {
            "fromEmail": "noreply@magichub.ro",
            "toEmail": "={{ $json.email }}",
            "subject": "Confirmare rezervare Magic Hub",
            "emailFormat": "html",
            "message": "<!DOCTYPE html><html><body><h2>Salut {{ $json.firstname }}!</h2><p>Ai rezervare la Magic Hub {{ $json.location }} pe {{ $json.date }} la {{ $json.time }}.</p><p>Mulțumim!</p></body></html>"
          },
          "id": "email-confirmation",
          "name": "Email Confirmation",
          "type": "n8n-nodes-base.gmail",
          "typeVersion": 2,
          "position": [520, 400]
        },
        {
          "parameters": {
            "respondWith": "json",
            "responseBody": "{\n  \"status\": \"success\",\n  \"message\": \"Booking confirmation sent\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}"
          },
          "id": "response-webhook",
          "name": "Response",
          "type": "n8n-nodes-base.respondToWebhook",
          "typeVersion": 1,
          "position": [720, 300]
        }
      ],
      "connections": {
        "Webhook Booking Upload": {
          "main": [
            [
              {
                "node": "Input Validator",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Input Validator": {
          "main": [
            [
              {
                "node": "WhatsApp Message FIXED",
                "type": "main",
                "index": 0
              },
              {
                "node": "Email Confirmation",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "WhatsApp Message FIXED": {
          "main": [
            [
              {
                "node": "Response",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Email Confirmation": {
          "main": [
            [
              {
                "node": "Response",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      }
    }
  ],
  "credentials": [],
  "variables": []
} 