autointeractiv/01-booking-confirmation-workflow.json
{
  "name": "Magic Hub - Booking Confirmation Workflow",
  "nodes": [
    {
      "parameters": {
        "path": "magic-hub-booking-upload",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "01-webhook-booking-upload",
      "name": "Webhook - Booking Upload",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [180, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "new",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "pending",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        }
      },
      "id": "02-filter-new-bookings",
      "name": "Filter New Bookings",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [380, 300]
    },
    {
      "parameters": {
        "url": "https://waba.360dialog.io/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "D360-API-KEY",
              "value": "={{ $credentials.whatsapp360dialog.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "{\"body\": \"Salut {{ $json.firstname }}! Ai rezervare la Magic Hub {{ $json.location }} pe {{ $json.date }} la {{ $json.time }}. Confirmi cu 1️⃣ Da / 2️⃣ Reprogramez?\"}"
            }
          ]
        },
        "options": {}
      },
      "id": "03-whatsapp-confirmation",
      "name": "WhatsApp Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [580, 200]
    },
    {
      "parameters": {
        "fromEmail": "noreply@magichub.ro",
        "toEmail": "={{ $json.email }}",
        "subject": "Confirmare rezervare Magic Hub",
        "emailFormat": "html",
        "message": "<!DOCTYPE html><html><body><h2>Salut {{ $json.firstname }}!</h2><p>Ai rezervare la Magic Hub {{ $json.location }} pe {{ $json.date }} la {{ $json.time }}.</p><p>Te rugăm să confirmi rezervarea răspunzând la acest email cu \"Confirm\" sau \"Reprogramez\".</p><p>Mulțumim!</p></body></html>"
      },
      "id": "04-email-confirmation",
      "name": "Email Confirmation",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [580, 400]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "{{ $credentials.googleSheets.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": "Booking_Confirmations",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.firstname }} {{ $json.lastname }}",
            "phone": "={{ $json.phone }}",
            "email": "={{ $json.email }}",
            "booking_date": "={{ $json.date }}",
            "booking_time": "={{ $json.time }}",
            "location": "={{ $json.location }}",
            "whatsapp_sent": "=true",
            "email_sent": "=true",
            "timestamp": "={{ new Date().toISOString() }}",
            "status": "confirmation_sent",
            "response": ""
          }
        },
        "options": {}
      },
      "id": "05-log-confirmations",
      "name": "Log Confirmations",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [780, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\",\n  \"message\": \"Booking confirmation sent\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}"
      },
      "id": "06-response-node",
      "name": "Response Node",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [980, 300]
    }
  ],
  "connections": {
    "Webhook - Booking Upload": {
      "main": [
        [
          {
            "node": "Filter New Bookings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter New Bookings": {
      "main": [
        [
          {
            "node": "WhatsApp Confirmation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Confirmation": {
      "main": [
        [
          {
            "node": "Log Confirmations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Confirmation": {
      "main": [
        [
          {
            "node": "Log Confirmations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Confirmations": {
      "main": [
        [
          {
            "node": "Response Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["booking", "confirmation"],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1.0.0"
}